.one{
    padding: 15px;
    border: 6px dotted purple;
}
.container-2{
    border: 6px dotted red;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.flex-box-container-2{
    display: flex;
    border: 3px dashed blue;
    justify-content: space-around;
    flex-wrap: wrap;
}
img{
    height: 180px;
    width: 200px;
}
.flex-box-container-2 img{
    border: 3px dashed green;
    padding: 10px;
}